<div class="categories">
  <div class="categories-header">
    <h2 class="categories-header-title">Categories</h2>
    <button mat-mini-fab class="categories-add" (click)="addCategoryHandler()">
      <mat-icon *ngIf="!addingNewCategory()">add_circle</mat-icon>
      <mat-icon *ngIf="addingNewCategory()">close</mat-icon>
    </button>
  </div>

  <div class="categories-new">
    <mat-form-field class="categories-new-field" *ngIf="addingNewCategory()">
      <mat-label>Press enter or tick</mat-label>
      <input
        matInput
        [(ngModel)]="newCategoryName"
        autofocus
        #newCatInp
        (keydown)="onNewCatInputChange($event)"
      />
      <button matSuffix mat-icon-button (click)="addNewCategory()">
        <mat-icon>add_task</mat-icon>
      </button>
    </mat-form-field>
    <p
      *ngIf="categoryAlreadyExists && addingNewCategory()"
      class="categories-new-error"
    >
      This category already exists. Please enter a unique value.
    </p>
  </div>

  <mat-selection-list
    role="list"
    [multiple]="false"
    (selectionChange)="setSelectedCategory($event)"
  >
    @for (cat of allCats; track cat.name) {
    <mat-list-option
      role="listitem"
      [value]="cat.name"
      togglePosition="before"
      [selected]="cat.selected"
    >
      {{ cat.name | titlecase }}
    </mat-list-option>
    } @empty { Add a category to begin with. }
  </mat-selection-list>
</div>
