.categories {
  height: 100%;
  overflow-y: auto;
  border-right: 2px solid #c8c2c2;
  padding-left: 1rem;
  padding-right: 1rem;

  &-header {
    &-title {
      display: inline;
    }
  }

  &-new {
    &-field {
      max-width: 100%;
      margin-top: 1rem;
    }
    &-error {
      font-size: 1.2rem;
      line-height: 1.5rem;
      font-weight: 500;
      color: #974646;
    }
  }

  &-add {
    float: right;
    width: 3rem;
    height: 3rem;
  }
}
