<div class="new-task">
  <form
    class="new-task-form"
    (ngSubmit)="formSubmit()"
    [formGroup]="newTaskForm"
  >
    <mat-form-field
      class="new-task-form-field"
      appearance="outline"
      subscriptSizing="dynamic"
    >
      <mat-label>Add New Task</mat-label>
      <textarea
        #newTaskInput
        type="text"
        matInput
        formControlName="taskName"
        autofocus
        (keydown)="onFormEdit($event)"
        class="new-task-input"
        placeholder="Type new task and press enter, or click the arrow to the right. To add a new line, press shift + enter."
      ></textarea>
      <button class="new-task-btn" mat-icon-button matSuffix>
        <mat-icon [inline]="true">arrow_circle_right</mat-icon>
      </button>
    </mat-form-field>
  </form>
</div>
